body {
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5rem;
    margin: 0;
}

nav {
    a {
        color: #ffffff;
    
        &:hover {
            color: #ffffff;
        }
    }
    
    padding: 1rem;
    background-color: #000000;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

article {
    margin: 6px;

}